html,body,header,#intro{
    height: 100%;
}

#intro{
    background: url(../img/head.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.top-nav-collapse{
    background-color: #24355c;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse){
        background: #24355c;
    }
}

.bkg {
    background: url(../img/bkg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

